# API key needed for access to the cloud database. Use any string for the local relay server.
VITE_LIFTINGCAST_API_KEY=""

# Example websocket url for backup cloud server.
VITE_LIFTINGCAST_WEBSOCKET_URL="wss://backup.liftingcast.com/websocket"

# Example connection url for local relay server. Note that the protocol is "ws" not "wss".
VITE_LIFTINGCAST_WEBSOCKET_URL="ws://192.168.1.26/websocket"

VITE_LIFTINGCAST_MEET_ID=
VITE_LIFTINGCAST_MEET_PASSWORD=
VITE_LIFTINGCAST_LIGHTS_OFF_DELAY_SECONDS=3