.clock-seconds {
  border-radius: 12px;
  width: 100px;
  height: 80px;
  font-weight: bold;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: rgb(192, 199, 207);
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}
