.current-lifter-banner {
  height: 90px;
  overflow: hidden;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  width: 900px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  margin-bottom: 20px;
  position: relative;
}
.current-lifter-banner-column-one {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.current-lifter-banner-column-one img {
  height: 90%;
  width: auto;
}

.current-lifter-banner-column-two {
  padding: 12px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.current-lifter-banner-name-last-name {
  height: 24px;
  text-transform: uppercase;
  font-weight: 1000;
}

.current-lifter-banner-name-first-name {
  height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.current-lifter-banner-category {
  height: 24px;
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
}

/* make sure the inline-block div that react-fitty adds is centered vertically */
.current-lifter-banner-name-last-name > div > div,
.current-lifter-banner-name-first-name > div > div,
.current-lifter-banner-category > div > div {
  vertical-align: middle;
}

.current-lifter-banner-column-three {
  padding: 8px;
  grid-column: span 7;
  overflow: hidden;
}

.current-lifter-banner-attempts {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  column-gap: 6px;
  align-items: center;
  height: 100%;
}

.current-lifter-banner-lift-name {
  height: 40px;
  width: 100%;
  border: 1px solid white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.current-lifter-banner-attempt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.current-lifter-banner-attempt {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.current-lifter-banner-attempt-current {
  /* background-color: blue; */
  color: white;
}

.current-lifter-banner-attempt-good {
  /* background-color: var(--green); */
  color: var(--green);
}

.current-lifter-banner-attempt-bad {
  /* background-color: var(--red); */
  color: var(--red);
}

.current-lifter-banner-bottom-row {
  grid-column: 1 / -1;
  background-color: var(--dark-blue);
  width: 100%;
  height: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.attempt-card {
  position: absolute;
  bottom: 3.5px;
  height: 5px;
  width: 50px;
}

.attempt-card-red {
  background-color: var(--red);
}

.attempt-card-white {
  background-color: white;
}

.attempt-card-green {
  background-color: var(--green);
}

.current-lifter-banner-column-four {
  grid-column: span 3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  container-type: inline-size;
}

.current-place {
  width: 100%;
  font-weight: 900;
  color: rgb(192, 199, 207);
  font-style: italic;
  text-transform: uppercase;
  font-size: 40cqi;
  text-align: center;
}

.current-lifter-banner-column-five {
  grid-column: span 2;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.best-lifts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.best-lifts-row {
  flex: 1;
  display: flex;
  align-items: stretch;
  background-color: var(--secondary-color);
}

.best-lifts-label {
  width: 25px;
  text-align: center;
  font-weight: 900;
  background-color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.best-lifts-value {
  font-weight: 700;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
