@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-family: "DM Sans", sans-serif;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;

  /*
    background-color should be set to something that is easy to chroma key out.
    orange works because it doesn't conflict with any of the colors used.
    current lifter is often represented in blue.
    red and green are used for bad/good lifts.
    red, blue, and yellow are used for fault cards.
   */
  /* background-color: orange; */
  background-color: rgba(0, 0, 0, 0);

  --primary-color: rgba(30, 53, 102, 0.9);
  --secondary-color: rgba(129, 160, 199, 0.9);
  --tertiary-color: rgba(100, 120, 144, 0.9);
  --red: rgb(255 39 37);
  --green: rgb(0 188 48);
  --ref-blue: rgb(0 143 235);
  --ref-yellow: rgb(255 225 50);
  --dark-blue: rgba(53, 59, 73, 0.9);
}

body {
  margin: 0;
}
